<div class="forgot-main-box">
  <div class="forgot-inner-box container-fluid">
    <div class="col-sm-4 col-sm-offset-4 forgot-box">
      <form action="">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                  <button class="btn submit-button" ng-click="">Reset password</button>
                </div>
              </div>
              <div class="col-sm-10 col-sm-offset-1">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="EMAIL-ID/ MOBILE NO.">
                  </div>  
                </div>
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="NEW PASSWORD">
                    </div>  
                  </div>
                  <div class="col-sm-10 col-sm-offset-1">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="CONFIRM PASSWORD">
                      </div>  
                    </div>
                <div class="col-sm-8 col-sm-offset-2">
                  <div class="form-group">
                    <button class="btn submit-button">update password</button>
                  </div>
                </div>
        </div>
      </form>
    </div>
  </div>
</div>