<app-header></app-header>
<app-sidenav></app-sidenav> 
<section class="main-section">
    <div class="container-fluid bg-dashboard">
        <div class="row">
            <div class="col-xs-12 main-heading">
                <h4>Dashboard</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="col-xs-7 total-icon">
                    <p><i class="fa fa-user"></i></p>
                </div>
                <div class="col-xs-5 total-text">
                    <p>7.589</p>
                    <div>Clients</div>
                </div>
            </div>
            <div class="col-sm-3">
                    <div class="col-xs-7 total-icon bg-red">
                        <p><i class="fa fa-user"></i></p>
                    </div>
                    <div class="col-xs-5 total-text">
                        <p>7.589</p>
                        <div>Clients</div>
                    </div>
            </div>
            <div class="col-sm-3">
                    <div class="col-xs-7 total-icon bg-green">
                        <p><i class="fa fa-user"></i></p>
                    </div>
                    <div class="col-xs-5 total-text">
                        <p>7.589</p>
                        <div>Clients</div>
                    </div>
            </div>
            <div class="col-sm-3">
                    <div class="col-xs-7 total-icon bg-yellow">
                        <p><i class="fa fa-user"></i></p>
                    </div>
                    <div class="col-xs-5 total-text">
                        <p>7.589</p>
                        <div>Clients</div>
                    </div>
            </div>
        </div>
    </div>
</section>