<nav class="header">
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-xs-10 menu">
          <a href="#"><img src="./assets/images/white.png" alt="" width="170px" class="img-responsive"></a>
        </div>
        <div class="col-sm-2 col-xs-2 menu-list">
          <ul class="list-inline">
            <li>
              <a href=""><i class="fa fa-bars menu-icon"></i></a>
            </li>
          </ul>
        </div>          
        <div class="col-sm-8 col-xs-12 icon-list">
          <ul class="list-inline">
            <li>
                <a href=""><i class="fa fa-bell icon"></i>
                </a>
            </li>
            <!-- <li>
              <a href=""><i class="fa fa-power-off icon"></i></a>
            </li> -->
            <li>
              <a href=""><i class="fa fa-cog icon"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-user icon"></i></a>
            </li>
          </ul>
        </div>
    </div>
  </div>
</nav>
